[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
requests = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3"
