<!doctype html>
<html lang="en">

<head>
  <!-- Primary Meta Tags -->
  <title>Vincent55ㄉ短網址</title>
  <meta name="title" content="Vincent55ㄉ短網址">
  <meta name="description" content="免費ㄉ短網址服務🐣">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://st.vincent55.tw/">
  <meta property="og:title" content="Vincent55ㄉ短網址">
  <meta property="og:description" content="免費ㄉ短網址服務🐣">
  <meta property="og:image"
    content="https://cdn.jsdelivr.net/gh/ncchen99/web-app-assets@2.9/Vincent55/shortUrl/assets/img/vincent.jpeg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="http://st.vincent55.tw/">
  <meta property="twitter:title" content="Vincent55ㄉ短網址">
  <meta property="twitter:description" content="免費ㄉ短網址服務🐣">
  <meta property="twitter:image"
    content="https://cdn.jsdelivr.net/gh/ncchen99/web-app-assets@2.9/Vincent55/shortUrl/assets/img/vincent.jpeg">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link
    href="https://cdn.jsdelivr.net/gh/ncchen99/web-app-assets@2.9/Vincent55/shortUrl/assets/css/material-dashboard.css?v=2.1.2"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/gh/ncchen99/web-app-assets@2.9/Vincent55/shortUrl/assets/css/custom.css"
    rel="stylesheet" />
  <link rel="icon"
    href="https://cdn.jsdelivr.net/gh/ncchen99/web-app-assets@2.9/Vincent55/shortUrl/assets/img/favicon.ico"
    type="image/x-icon" />
</head>

<body>

  <!--====== PRELOADER PART START ======-->
  <div class="preloader">
    <div class="loader">
      <div class="ytp-spinner">
        <div class="ytp-spinner-container">
          <div class="ytp-spinner-rotator">
            <div class="ytp-spinner-left">
              <div class="ytp-spinner-circle"></div>
            </div>
            <div class="ytp-spinner-right">
              <div class="ytp-spinner-circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--====== MODAL PART START ======-->
  <div class="modal" tabindex="-1" role="dialog" id="urlModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">縮好惹🦄</h5>
        </div>
        <div class="modal-body">
          <div class="d-flex">
            <div class="p-2" id="urlModalInner">Flex item</div>
            <div class="ml-auto p-2"><button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"
                onclick="refresh_main_page()">OK!</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== MAIN PART START ======-->
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
      <div class="logo">
        <a href="" class="simple-text logo-normal">
          Vincent55ㄉ短網址
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="#0">
              <i class="material-icons">dashboard</i>
              <p>縮網址😇</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">輸入網址👨‍💻</h4>
                  </div>
                  <div class="card-body">
                    <form id="urlForm">
                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group">
                            <label class="bmd-label-floating">網址</label>
                            <input type="text" class="form-control default" id="url" placeholder="想要縮ㄉ網址">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group my-btn-mg">
                            <button class="btn btn-primary pull-right" onclick="fetch_from_server()">縮短！</button>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </form>
                  </div>
                </div>

                {% if historys %}
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title ">縮過ㄉ紀錄🚀</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table" id="urlTable">
                        <thead class=" text-primary">
                          <tr>
                            <th>
                              原本ㄉ網址
                            </th>
                            <th>
                              縮過ㄉ網址
                            </th>
                            <th>
                              點擊次數
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for history in historys %}
                          <tr>
                            <td>
                              <a href="{{ history[1] }}">
                                {{ history[1] }} </a>
                            </td>
                            <td>
                              <a href="{{domain}}/{{ history[0] }}"> {{domain}}/{{ history[0] }}</a>
                            </td>
                            <td>
                              {{ history[2] }}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">尼ㄉIP🥝</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-10">
                        <h5>{{ ip }}</h5>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="">
                    <img class="img"
                      src="https://cdn.jsdelivr.net/gh/ncchen99/web-app-assets@2.9/Vincent55/shortUrl/assets/img/faces/vincent.jpeg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">Dev</h6>
                  <h4 class="card-title">Vincent55</h4>
                  <p class="card-description">
                    對資訊各領域原理抱持好奇，且不讓明天後悔地，持續探索者。
                  </p>
                  <div class="d-flex justify-content-center">
                    <div class="d-flex flex-row">
                      <div class="p-2">
                        <a href="https://www.facebook.com/profile.php?id=100006484806838"
                          class="btn btn-social btn-just-icon  btn-facebook">
                          <i class="fa fa-facebook"> </i>
                        </a>
                      </div>
                      <div class="p-2"><a href="https://github.com/Vincent550102"
                          class="btn btn-social btn-just-icon  btn-github">
                          <i class="fa fa-github"></i>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://vincent55.tw">
                  Vincent55
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://vincent55.tw" target="_blank">Vincent55</a> for a better web.
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div>
  <!--====== JQuery ======-->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <!--====== poper js ======-->
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  crossorigin="anonymous"></script>
  <!--====== MY custom js ======-->
  <script src="https://cdn.jsdelivr.net/gh/ncchen99/web-app-assets@2.9/Vincent55/shortUrl/assets/js/custom.js"></script>
</body>

</html>