<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLshortener</title>
</head>
<body>
    <h1>URLshortener</h1>
    <form method="POST" action="/web">
        <p>Your URL:<br>
        <span class='input'>
            <input name="url" id="url" size="30" placeholder="your long url">
            <span></span>
        </span>
        <br>
        <button class="button" type="submit">Shorten!</button>
        </p>
    </form>
    <div>your ip : {{ ip }} (just for record shorten history)</div>
</body>
</html>